h1 {
	color: #B8860B;
	text-align: center;
	text-shadow: 2px 2px 5px #C0C0C0;

}

body {
	font-family: serif;
	font-size: 13px;
}

nav a {
	color: #2F4F4F;
	font-weight: bold;
	text-decoration: none;
}

footer {
text-align: center;
}

aside {
    background: #f0f0f0;
    padding: 10px;
    width: 300px;
    float: right;
   }

.footer-link {
	text-decoration: none;
	color: silver;
	padding: 6px;

}
.menu {
	margin-bottom: 30px;
	margin-top: 30px;
}

.conc {
	color: #4B0082;
	font-size: 14px;
	font-family: verdana;
	font-style: italic;
}